py
colorama
SQLAlchemy
typesystem
orm
databases
pip
toml
wheel
attrs
pony
pytest==2.9.0
pluggy
iniconfig
atomicwrites
lxml
urllib3
greenlet
contextvars
selenium
common
aiocontextvars
pyparsing
setuptools
PyMySQL
immutables
zipp
jsonpickle
pytest-allure-adaptor
lxml-4.6.2-cp36-cp36m-win_amd64.whl
